.hero{
	display: flex;
	justify-content: center;
	align-items:center;
	
}
img{
	width:350px;
	height:300px;
	object-fit:cover;
}
button{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:5px;
	border:none;
}

h1,p{
	text-align:center;
}